<h2>My Heroes</h2>

<ul class="heroes">
    <!--The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list.-->
    <ng-container *ngFor="let hero of heroes">
        <li>
            <a routerLink="/detail/{{hero.id}}">
                <span class="badge"> {{hero.id}}</span> {{hero.name}}
            </a>
            <button type="button" class="delete" title="delete hero" (click)="deleteHero(hero)">X</button>
        </li>
    </ng-container>
</ul>

<div>
    <label for="new-hero">Hero name:</label>
    <input type="text" id="new-hero" #heroName>

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="addHero(heroName.value);heroName.value=''"> Add hero</button>
</div>
<!--[hero]="selectedHero" is an Angular property binding.
    It's a one-way data binding from the selectedHero property of the HeroesComponent to the hero property of the target element,
    which maps to the hero property of the HeroDetailComponent.-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->